<h2>About the wedding</h2>
<p>The one great Bryan Janice Wedding will be held at Chimms on 11.11.2017, Saturday at 12pm. Lunch will be served at 12pm sharp :)</p>

<h2>Details</h2>
<ul>
  <li>Getting there</li>
  <li>FAQ</li>
  <li>RSVP Yourself</li>
  <li>Write a comment/blessings</li>
</ul>

<p>For more information or source code of this awesome wedding page, please head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <!-- <span class="fa fa-user fa-lg main-list-item-icon"></span> -->
    <a href="http://excentris.net">Designed by Janice, Supported by Bryan</a>
  </li>
</ul>
